.executedCommandAvatar-yZ5r9z, 
.replyAvatar-1K9Wmr, 
.replyBadge-r1su3o, 
.threadMessageAccessoryAvatar-2XWCxw,
.avatar-2e8lTP,
.assetsLargeImage-eYwpTX{
    border-radius: 20%;
}

.role-2TIOKu{
    border-radius:2px
}

.scrollableContainer-2NUZem,
.theme-dark .container-1D34oG{
    background-color: #0d0d0d;
}

.headerPlaying-j0WQBV,
.botTagRegular-2HEhHi,
.newMessagesBar-265mhP,
.anchor-33Z-8Bb .anchorUnderlineOnHover-2ESHQB{
    background: #094EA7;
}

.group-spacing-16 .groupStart-3Mlgv1{
    margin-top: 0.7rem;
}

.reaction-1hd86g.reactionMe-wv5HKu{
    border-color: transparent;
    background-color: #48516e;
}

.peopleColumn-1wMU14{
    background-color: var(--background-primary)
}

.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: var(--background-secondary)
}

.theme-dark{
    --background-primary: #000;
    --background-secondary: #111;
    --background-tertiary: #0a0a0a;
    --background-secondary-alt: #080808;
    --background-floating: #0d0d0d;
    --background-modifier-active: #0d0d0d;
    --channeltextarea-background: #0d0d0d
}
